<form [formGroup]="form" class="container">

  <h2>Robot List</h2>

  <mat-form-field appearance="outline" class="w-input">
    <mat-label>Project ID</mat-label>
    <input matInput formControlName="projectId">
  </mat-form-field>

  <button (click)="getRobots()" mat-raised-button>Get Robots</button>

  <ng-container *ngIf="robots$">
    <mat-selection-list #robots [multiple]="false">
      <mat-list-option *ngFor="let robot of (robots$ | async)" [value]="robot">
        {{ robot.name }}
      </mat-list-option>
    </mat-selection-list>
  </ng-container>
</form>
