<form [formGroup]="form" class="container">

  <h2>Robot List</h2>

  <mat-form-field appearance="outline" class="w-input">
    <mat-label>Project ID</mat-label>
    <input matInput formControlName="projectId">
  </mat-form-field>

  <button (click)="getRobots()" mat-raised-button>Get Robots</button>
  <button (click)="unsub()" mat-raised-button>Unsub</button>

  <ng-container *ngIf="robots$">
    <mat-selection-list #robots [multiple]="false">
      <ng-container *ngFor="let robot of (robots$ | async)">
        <mat-list-option (click)="selectRobot()"  [value]="robot">
          {{ robot.name }}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>

    <app-heading-gauge></app-heading-gauge>
  </ng-container>
</form>
